@import 'reset';

body {
	background: url("../img/nice_snow.png");
}

header {
	text-align: center;

	h1 {
		font-size: 32px;
		margin: 20px 0;
	}

	button {
		background: none;
		font-size: 20px;
		display: inline-block;
		padding: 6px;
		margin: 0 5px;
		border: 1px solid black;
		border-radius: 5px;
		cursor: pointer;
		text-decoration: none;
		transition: 0.2s;
		&:hover {
			color: #FFFFFF;
			background-color: deepskyblue;
		}
	}
}

.wrapper {
	text-align: center;
	margin: 50px 0;
}

#gears-container {
	display: none;
	width: 450px;
	height: 550px;
	margin: 50px auto;
	animation: fade 1s;

	.gear {
		position: relative;
		animation: rotate 6s 0.5s linear infinite;
		&:nth-child(2) {
			animation-direction: reverse;
			top: 125px;
			left: -62px;
		}
		&:nth-child(3) {
			top: 80px;
			left: -50px;
		}
	}
}

#cards-container {
	// display: none;
	animation: fade 1s;
	margin: 0 auto;

	li {
		position: relative;
		display: inline-block;
		margin: 5px;
		&:hover .front{
			animation: flip 0.3s forwards;
		}
		&:hover .back{
			animation: flip 0.3s 0.3s reverse forwards;
		}

		.card {
			width: 150px;
			height: 220px;
			border: 1px solid black;
			border-radius: 5px;
		}

		.front {
			position: absolute;
			background-color: green;
		}

		.back {
			transform: rotateY(90deg);
			background-color: orange;
		}
	}

}

@keyframes flip {
	0% {transform: rotateY(0deg)}
	100% {transform: rotateY(90deg)}
}

@keyframes rotate {
	0% {transform: rotateZ(0deg)}
	100% {transform: rotateZ(360deg)}
}

@keyframes fade {
	0% {opacity: 0}
	100% {opacity: 1}
}
